body {
   
    background-color:oldlace;
    text-align: center;
    
}

#head {
    color: purple;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

.nav {
    text-decoration: none;
}

#wrap {
    text-align: center;
}

body li{
    
    overflow: hidden;
    text-decoration: none;
}

.icon {
    /* border: crimson solid 10px; */
    padding: 10px;
}

.nolink {
    text-decoration: none;
    color: purple;
}

.right {
    text-align:start
}

.left {
    text-align:end
}

.self {
    width: 81.5px;
    height: 150px;
}

.projectpics {
    width: 500px;
}

.home {
    background-color: purple;
    color: oldlace;
    width: 253px;
    margin: auto;
}

nav {
    width: 250px;
    border: solid 1px purple;
    margin: auto;
}

.writingnav {
    width: 500px;
}

@media only screen and (max-width: 768px){
    .projectpics {
        width: 75%;
    }
  }