body {
    border: crimson solid 5px;
    background-color:oldlace;
    text-align: center;
    max-width: 960px;
}

#head {
    color: magenta;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

.nav {
    text-decoration: none;
}

#wrap {
    text-align: center;
}

body li{
    
    overflow: hidden;
}